name: dbt CI

on:
  pull_request:
  push:
    branches: [ "main", "master" ]

jobs:
  dbt-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dbt
        run: |
          pip install dbt-core dbt-athena-community

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Create dbt profile
        run: |
          mkdir -p ~/.dbt
          cat <<EOF > ~/.dbt/profiles.yml
          paruvendu:
            target: ci
            outputs:
              ci:
                type: athena
                s3_staging_dir: s3://${{ vars.S3_STAGING_DIR }}
                region_name: ${{ vars.AWS_REGION }}
                database: ${{ vars.ATHENA_DATABASE }}
                work_group: ${{ vars.ATHENA_WORKGROUP }}
          EOF

      - name: dbt deps
        run: dbt deps

      - name: dbt compile
        run: dbt compile --target ci

      - name: dbt test
        run: dbt test --target ci
